:root {

  --secondary-color: #292929;  
  --title-color:  #d35704;  

   background: linear-gradient(to bottom, #000000, #141414);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  /* Reset básico e estilos globais */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;

        }
        
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
        
        /* Cabeçalho e Navbar */
        header {
            background-color: #d35704;
            color: white;
            padding: 1rem;
            width: 100%;
        }
        
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }
        
        .logo {
            font-size: 1.5rem;
            font-weight: bold;
        }
        
        .nav-links {
            display: flex;
            list-style: none;
        }
        
        .nav-links li {
            margin-left: 2rem;
        }
        
        .nav-links a {
            color: white;
            text-decoration: none;
            transition: color 0.3s;
        }
        
        .nav-links a:hover {
            color: #4CAF50;
        }
        
        /* Conteúdo Principal Centralizado */
            main {
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
            padding: 0 2rem;
            }

        
        /* Rodapé */
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1rem;
            width: 100%;
        }

        /* componentes */

        section {
            padding: 4rem 4rem;
            text-align: center;          
            background-color: var(--secondary-color);
            color: white;
            border-radius: 2rem;
            margin-bottom: 2rem;
        }

        .formation{
            background-color: transparent;
        }

        .emphasis{
            background: linear-gradient(to bottom right, var(--title-color), #5c2500); 
            border-radius: 0 2rem;
        }

        .emphasis-title{
          background    : linear-gradient(to bottom, var(--title-color), #e26f21); 
          border-radius: 0 2rem;
          padding: 0.8rem;
        }

        .emphasis img.emphasis_img {
            height: 300px;
            width: 300px;
            border-radius: 0 1rem;
            object-fit: cover;
            object-position: 60% 50%;
        }

    

        .content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 2rem;
        }

        .content img {
          height: 300px;
          width: 200px;
          border-radius: 0 1rem ;
          object-fit: cover;
          object-position: 60%;
        }

        .inner-content {
          display: flex;
          flex-direction: column;
          justify-content: center;    
          align-items: center; /* ou center, dependendo do layout */
          gap: 1rem;
        }

        .inner-content p {
            margin-bottom: 1rem;
        }


  
        .fundo-total {
              padding: 8rem 4rem;
            width: 100vw;
            margin-left: calc(-50vw + 50%);
            background: url(assets/giphyNRD.gif) no-repeat center;
            color: white;
            border-radius: 0;
             margin-bottom: 0;

        }

        .about {
              margin-top: -50px; /* sobrepõe a anterior */
        }


        /* Responsividade */
        @media (max-width: 768px) {
            .navbar {
                flex-direction: column;
                padding: 1rem;
            }
            
            .nav-links {
                margin-top: 1rem;
                flex-direction: column;
                align-items: center;
            }
            
            .nav-links li {
                margin: 0.5rem 0;
            }
        }